.content {
  z-index: 3;
  margin-top: 90px;
}
h1 {
  background-color: #174d3e;
  color: white;
  font-family: comfortaa;
  width: 1152px;
  height: 47px;
  padding-left: 30px;
  left: 0px;
  margin-right: 300px;
  display: flex;
  justify-content: left;
  align-items: flex-start;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 400px;
}

.card {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  background-color: white;
  color: black;
  margin: 5px;
  width: 399px;
  height: 270px;
}

.card-info {
  width: 399px;
  height: 88px;
  background-color: #7da588;
  border-radius: 0px 0px 15px 15px;
  margin-top: 165px;
}
