.nav {
  width: 120%;
  height: 120px;
  background-color: #000000;
  position: fixed;
  font-size: 30px;
  color: white;
  top: 0;
  left: -1px;
  display: flex;
  align-items: center;
}

ul,
li,
a {
  display: flex;
  flex-direction: horizontal;
  margin-left: 20px;
  color: white;
  font-family: comfortaa;
}

a {
  text-decoration: none;
}
