.nav {
  background-color: #000000;
  width: 120%;
  height: 120px;
  position: fixed;
  top: -5px;
  left: -10px;
}
.nav-left {
  font-size: 30px;
  color: white;
  display: flex;
  align-items: center;
}
img {
  padding-left: 20px;
}

body {
  background-color: #f7fff6;
}

ul,
li,
a {
  display: flex;
  flex-direction: horizontal;
  margin-left: 20px;
  color: white;
  font-family: comfortaa;
}

a {
  text-decoration: none;
}
