* {
  z-index: 3;
  color: black;
}
.text {
  padding-top: 200px;
  height: 100px;
  width: 300px;
  /*border: solid 2px red;*/
  padding-left: 500px;
  padding-right: 500px;
}
h1 {
  margin-bottom: 70px;
}
h3 {
  padding-bottom: 30px;
  font-size: 20px;
}

.buttons {
  padding-top: 160px;
  display: block;
}

button {
  background-color: #174d3e;
  border: solid 2px #174d3e;
  color: white;
  border-radius: 15px;
  padding: 10px 50px;
  cursor: pointer;
  font-family: comfortaa;
}

button:hover {
  background-color: #2e866d;
  border: solid 2px #2e866d;
}

.b1 {
  margin-right: 15px;
}
.b2 {
  margin-left: 15px;
}

/*
.text,
.buttons {
  padding: 50vh;
  padding-left: 480px;
  margin-bottom: 40px;
  text-align: center;
}
body {
  background-color: #f7fff6;
  position: fixed;
}
.text {
  border: solid 3px red;
  padding-left: 40px;
  height: 300px;
  width: 100%;
}

h3,
h1 {
  margin-bottom: 80px;
  display: flex;
  flex-direction: vertical;
}

h1 {
  margin-bottom: 100px;
}

.buttons {
  padding-top: 440px;
  padding-right: 80px;
}
*/
