<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="static/img/METlogo.svg" />
    <link rel="stylesheet" href="static/css/global.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;600;700&display=swap"
      rel="stylesheet"
    />
    <title>Available Tutors</title>
  </head>
  <body>
    <div class="nav">
        <div class="nav-left">
        <a href="/"><img src="static/img/METlogo.png" alt="logo" /></a>
        <ul>
            <li>
                <a href="/">Home<a/>
            </li>
            <li>
                <a href="/courses">Courses<a/>
            </li>
            <li>
                <a href="/tutorspage">Tutors<a/>
            </li>
        </ul>
        </div>
    </div>
    </body>
</html>
